---
hasMarkdown: false
---

<!doctype html>
<html lang="en">
  <head>
    {% set css %}{% include "styles/common.css" %}{% endset %}
    {% set pageCss %}{% include cssFile %}{% endset %}
    {% if hasMarkdown %}
      {% set mdCss %}{% include "styles/markdown.css" %}{% endset %}
    {% endif %}
    <style>
      {{ css | cssmin | safe }}{{ pageCss | cssmin | safe }}
      {% if hasMarkdown %}
        {{ mdCss | cssmin | safe }}
      {% endif %}
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolczynski group</title>
  </head>
  <body>
    <header>
      <a id="header-image-link" href="/"><img class="group-logo" src="/assets/images/common/group_logo.png" alt="Rolczynski Group logo"></a>
    </header>
    <div id="navigation">
      <ul>
        {% for item in navigation %}
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div id="page-content">
      {{ content | safe }}
    </div>
    <footer>
      <img class="footer-image" id="footer-unr-logo" src="/assets/images/common/UNR_logo.png" alt="University of Nevada, Reno logo">
      <img class="footer-image" id="footer-group-logo" src="/assets/images/common/group_logo.png" alt="Rolczynski Group logo">
      <p id="footer-text">&copy; {{ page.date.getFullYear() }} The Rolczynski Group at UNR. All rights reserved.</p>
    </footer>
  </body>
</html>