---
title: The Rolczynski Group at UNR
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bundle.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <a id="header-image-link" href="/"><img class="group-logo" src="/assets/images/common/group_logo.png" alt="Rolczynski Group logo"></a>
    </header>
    <div id="navigation">
      <ul>
        <li><a href="/research">RESEARCH</a></li>
        <li><a href="/team">TEAM</a></li>
        <li><a href="/lab">LAB</a></li>
        <li><a href="/publications">PUBLICATIONS</a></li>
        <li><a href="/news">NEWS</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/join_us">JOIN US</a></li>
      </ul>
    </div>
    <div id="page-content">
      {{ content | safe }}
    </div>
    <footer>
      <img class="footer-image" id="footer-unr-logo" src="/assets/images/common/UNR_logo.png" alt="University of Nevada, Reno logo">
      <img class="footer-image" id="footer-group-logo" src="/assets/images/common/group_logo.png" alt="Rolczynski Group logo">
      <p id="footer-text">&copy; {{ page.date.getFullYear() }} The Rolczynski Group at UNR. All rights reserved.</p>
    </footer>
  </body>
</html>