* {
  color: #051f41;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* HEADER */

header {
  background-color: #051f41;
  display: flex;
  justify-content: center;
  position: relative;
  height: auto;
  min-height: 100% !important;
}

#header-image-link {
  padding: 1em;
}

.group-logo {
  margin: auto;
  width: 250px;
}

/* NAVIGATION */

#navigation {
  margin: 1em auto 2em auto;
  overflow: hidden;
  position: relative;
  width: 47%;
}

#navigation ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -1px;
}

#navigation li {
  background-color: #fff;
  border-left: 1px solid #ccc;
  flex-grow: 1;
  flex-basis: auto;
  list-style-type: none;
  margin: .15em 0;
  padding: 0 1em;
  text-align: center;
}

#navigation a {
  text-decoration: none;
  color: #000;
  transition: 0.2s;
}

#navigation a:hover {
  color: #A9A9A9;
}

/* FOOTER */

footer {
  background-color: #8A8D8F;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2.5em;
  width: 100%;
  position: relative;
  height: auto;
  min-height: 100% !important;
  padding-bottom: 2em;
}

.footer-image {
  padding: 0 40px;
  margin-top:  1.75em;
}

#footer-unr-logo {
  display: block;
  max-width:219px;
  max-height:71px;
  width: auto;
  height: auto;
  border-right: 1px solid #051f41;
}

#footer-group-logo {
  display: block;
  max-width: 250px;
  max-height:71px;
  width: auto;
  height: auto;
}

#footer-text {
  flex: 0 0 100%;
  font-size: 14px;
  text-align: center;
  margin-top: 2em;
}

/* PAGE CONTENT */

#home-splash {
  display: block;
  margin: auto;
  padding-bottom: 1em;
  width: 100%;
}

#page-content {
  display: block;
  margin: auto;
  width: 50%;
}

.button-container {
  padding-top: 1em;
  text-align: center;
}

.button {
  background-color: #051f41;
  border: none;
  border-radius: 12px;
  color: #ececec;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  margin: 4px 2px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  width: 250px;
}

.button:hover {
  background-color: #364b66;
}

.more-news {
  border: 1px #051f41 solid;
  background-color: #fff;
  color: #051f41;
}

.more-news:hover {
  background-color: #eee;
}

#news-feed-container {
  --mask: linear-gradient(to bottom, 
    rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, 
    rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100% repeat-x;
  
  -webkit-mask: var(--mask); 
  mask: var(--mask);
}

h2 {
  padding-bottom: 0.75em;
}

hr {
  margin: 2em 0;
}

.image {
  display: block;
  margin: auto;
  padding-bottom: 1.25em;
  width: 100%;
}

.team-member-container {
  display: flex;
}

.team-member-image {
  align-self: flex-start;
  border: 0.5px solid;
  max-height: 250px;
  object-fit: contain;
  width: auto;
}

.team-text-container {
  flex: 1 1 auto;
  margin: 0 2em;
}

.team-name {
  font-size: 18px;
  font-weight: 500;
}

.team-degrees {
  font-size: 13px;
  font-weight: 300;
  margin: 1.5em 1em;
}

.team-degree-item {
  margin: 0.3em 0;
}

.team-link-container {
  font-size: 10px;
  margin: 1em 0;
}

.team-link-container a {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.team-link-label {
  display: inline-block;
  margin-left: 1em;
}

.team-divider:last-child {
  display: none;
}

#team-page-content-container {
  margin: auto;
  width: 80%;
}

.team-logo {
  max-width: 20px;
  height: auto;
}

.publication-year-container {
  display: flex;
  font-size: 24px;
  font-weight: 700;
}

.publication-year {
  font-size: 24px;
  font-weight: 700;
  margin-right: 1em;
}

.publication-images-container a {
  text-decoration: none;
}

.pub-image {
  flex: 1 1 auto;
  max-height: 300px;
}

.underline {
  text-decoration: underline;
}

#address-container {
  display: inline-block;
  margin-left: 2em;
}

#office-phone-container {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-right: 5em;
}

#contact-container, .fill-page {
  min-height: calc(100vh - 390px);
}

#contact-container .button-container {
  margin-top: 1em;
}

#scenery-image {
  border: 1px solid;
  height: auto;
  max-width: 100%;
  margin-bottom: 1em;
}

.bold {
  font-weight: 700;
}

#join-us-container {
  font-size: 14px;
}

#join-us-container li {
  margin-left: 1em;
}

.align-center {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #address-container {
    margin-bottom: 2em;
  }

  #office-phone-container {
    margin: 2em;
    float: left;
  }

  #navigation ul {
    display: block;
  }

  .button {
    width: 60%;
  }

  #footer-unr-logo {
    border: none;
  }

  #page-content {
    width: 90%;
  }
}