#home-splash {
  display: block;
  margin: auto;
  padding-bottom: 1em;
  width: 100%;
}

.more-news {
  border: 1px #051f41 solid;
  background-color: #fff;
  color: #051f41;
}

.more-news:hover {
  background-color: #eee;
}

#news-feed-home-container {
  --mask: linear-gradient(to bottom, 
    rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, 
    rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100% repeat-x;
  
  -webkit-mask: var(--mask); 
  mask: var(--mask);
  max-height: 20em;
}