.publication-year-container {
  display: flex;
  font-size: 24px;
  font-weight: 700;
}

.publication-year {
  font-size: 24px;
  font-weight: 700;
  margin-right: 1em;
}

.publication-images-container a {
  text-decoration: none;
}

.pub-image {
  flex: 1 1 auto;
  max-height: 300px;
}