---
layout: page_template.njk
cssFile: "styles/publications.css"
---
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RKBWCFTXFD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RKBWCFTXFD');
    </script>
</head>
{% for publication in publications %}
  <div class="publication-year-container">
    <span class="publication-year">{{ publication.year }}</span>
    <div class="publication-images-container">
      {% for pub in publication.publications %}
        <a href="{{ pub.url }}" target="_blank">
          <img class="pub-image" src="/assets/images/publications/{{ pub.num }}.png" alt="Figure from publication">
        </a>
      {% endfor %}
    </div>
  </div>
{% endfor %}
