---
layout: page_template.njk
cssFile: "styles/publications.css"
---

{% for publication in publications %}
  <div class="publication-year-container">
    <span class="publication-year">{{ publication.year }}</span>
    <div class="publication-images-container">
      {% for pub in publication.publications %}
        <a href="{{ pub.url }}" target="_blank">
          <img class="pub-image" src="/assets/images/publications/{{ pub.num }}.png" alt="Figure from publication">
        </a>
      {% endfor %}
    </div>
  </div>
{% endfor %}
