---
layout: page_template.njk
cssFile: "styles/team.css"
---

<div id="team-page-content-container">
  {% for member in teamMembers %}
    <div class="team-member-container">
      <img class="team-member-image" src="/assets/images/team/{{ member.image }}" alt="Image of team member">
      <div class="team-text-container">
        <p class="team-name">{{ member.name }}</p>
        <p class="team-title">{{ member.title }}</p>
        <ul class="team-degrees">
          {% for degree in member.degrees %}
            <li class="team-degree-item">{{ degree }}</li>
          {% endfor %}
        </ul>
        <div class="team-link-container">
          <a href="/assets/cv/{{ member.cv }}" download>
            <img class="team-logo" src="/assets/images/team/cv_icon.png" alt="Small Curriculum Vitae icon">
            <span class="team-link-label">Curriculum Vitae</span>
          </a>
        </div>
        <div class="team-link-container">
          <a href="https://www.linkedin.com/in/{{ member.linkedIn }}" target="_blank">
            <img class="team-logo" src="/assets/images/team/linkedin.png" alt="LinkedIn icon">
            <span class="team-link-label">{{ member.linkedIn }}</span>
          </a>
        </div>
        <div class="team-link-container">
          <a href="{{ member.google_scholar }}" target="_blank">
            <img class="team-logo" src="/assets/images/team/google_scholar.png" alt="Google Scholar icon">
            <span class="team-link-label">Google Scholar</span>
          </a>
        </div>
        <div class="team-link-container" href="">
          <a href="https://orcid.org/{{ member.orcid }}" target="_blank">
            <img class="team-logo" src="/assets/images/team/orcid.png" alt="ORCID icon">
            <span class="team-link-label">{{ member.orcid }}</span>
          </a>
        </div>
      </div>
    </div>
    <hr class="team-divider">
  {% endfor %}
</div>